version: '3'

services:
  application:
    restart: on-failure                     # 실패시에만 컨테이너 재시작
    image: js1171/monta:latest
    build:
      context: ./                           # 현재 디렉토리('./')에서 Dockerfile 찾아 이미지 빌드
      dockerfile: Dockerfile
    ports:
      - "8080:8080"                         # 호스트의 8080포트를 컨테이너의 8080 포트에 매핑
    environment:                            # springboot application의 데이터 소스 설정을 위한 환경 변수 설정
      - application.yml
    networks:
      - test_network       # 사용자 정의 네트워크 'test_network' 생성 (DB와 application 서비스 연결해 통신할 수 있게 해줌)

  web:
    container_name: nginx
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d    # nginx/conf.d 디렉토리를 마운트 (nginx가 실행될 때 외부에서 이 경로로 서칭)
    depends_on:
      - application
    networks:
      - test_network

networks:
  test_network: